<div class="container-fluid">
	<h4>Medical Journals - {{action}}</h4>
	<a href="#/journals">Back</a>
	<div class="row">
		<div class="col-md-2">
			<form ng-submit="postNewJournal()">
				Name: <input ng-model="name">
				ISSN: <input ng-model="issn">
				Tags: <input ng-model="tags">
				Language: 
					<select ng-model="language">
						<option value="en-US">English (United States)</option>
						<option value="en-GB">English (United Kingdom)</option>
						<option value="es-AR">Español (Argentina)</option>
						<option value="es-MX">Español (México)</option>
					</select>
				<input type="submit" id="submit" value="Create" />
			</form>
			<div ng-switch on="error">
				<span class="error" ng-switch-when="true">Error saving medical journal</span>
				<span class="error" ng-switch-when="false">Medical Journal registered successfuly</span>
			</div>
		</div>
	</div>
</div>