<div class="container-fluid">
	<h4>Medical Journals</h4>
	<a href="#/journals/new">Upload Journal</a>
	<div class="row">
		<div class="col-md-4">
			Search: <input ng-model="query"> Sort by: <select ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="language">Language</option>
			</select>

		</div>
		<div class="col-md-10" ng-model="journals">
			<ul class="journals" ng-show="journals.length > 0">
				<li
					ng-repeat="journal in journals | filter:query | orderBy:orderProp">
					<a href="{{journal.url}}">{{journal.name}}</a>
					<div>{{journal.tags.join(', ')}}</div>
				</li>
			</ul>
			<p class="error" ng-show="journals.length == 0">No journals</p>
		</div>
	</div>
</div>